input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.logo {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.logo img {
  height:50px;
}

.gameContainer {
  width: 300px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}